version: '3.7'
services:
    mongo:
        image: mongo
        ports:
            - "27017:27017"
    web:
        build:
            context: ./web
            dockerfile: Dockerfile.web
        image: web:latest
        ports:
            - "3000:3000"
        depends_on:
            -  mongo
    authentication:
        build:
            context: ./authentication
            dockerfile: Dockerfile.authentication
        image: authentication:latest
        ports:
            - "3001:3000"
