<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/common.css" />
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel='stylesheet' , href='/lib/css/vex.css'>
    <link rel='stylesheet' , href='/lib/css/vex-theme-default.css'>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <header>
        <%- include('navbar') %>
    </header>
    <div class="container login-form">
        <div class="form">
            <% if(!user){ %>
            <form class="login-form" id="loginForm" method="POST" action="/api/users/login"
                onsubmit="return Validate()">
                <img class="logo" src="img/login-logo.PNG" alt="logo" style="margin-top: -100px">
                <h3>Đăng nhập</h3>
                <input type="email" name="email" required placeholder="Email hoặc số điện thoại" />
                <input type="password" name="password" id="pass1" placeholder="Mật khẩu" required />
                <div class="row">
                    <div class="col-6">
                        <a href="/forgotpassword">Quên mật khẩu</a>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary"> Đăng nhập </button>
                    </div>
                </div>
                Bạn chưa có tài khoản? <a href="/register">Đăng ký</a>
            </form>
            <% } %> <% if(user){ %>
                Bạn có muốn đăng xuất tài khoản hiện tại?
                <a href="#" onclick="logout();">Đăng xuất</a>
            <% } %>
        </div>
    </div>

    <%- include('footer.ejs') %>
</body>
<script type="text/javascript">
    function Validate() {
        var pass1 = document.getElementById("pass1").value;
        var ok = true;
        if (pass1.length < 6) {
            alert("Mật khẩu phải lớn hơn 6 kí tự");
            return false;
        }
        return ok;
    }
</script>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script src="/lib/js/vex.combined.min.js"></script>
<!-- <script src="/js/login.js"></script> -->

</html>