<!DOCTYPE html>
<html>

<head>
  <title>Text to speech</title>
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <link rel='stylesheet' href='/stylesheets/common.css' />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<body>
  <header>
    <%- include('navbar') %>
  </header>
  <div class="container">
    <div class="row">
      <div class="col s10 text-center">
        <img class="center" src="img/logo.png" alt="House" style="height: 100%; width: 15%" />
      </div>
    </div>
    <div class="row ">
      <div class="col-12 text-center">
        <h3>Nhóm 4 - TEXT TO SPEECH</h3>
        <h7>Chuyển văn bản thành tiếng nói</h7>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 text-center">
        <a>
          <img class="center speaker" src="img/speakre.png" alt="House"
            style="height: 100%; width: 5%; cursor: pointer;" />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-right">0/1000</div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <textarea id="text" placeholder="Nhập văn bản tại đây" style="height: 300px"></textarea>
      </div>
    </div>
    <div class="row mt-2 mb-5">
      <div class="col-12 text-center">
        Hoặc
      </div>
    </div>

    <div class="row mt-2 mb-5">
      <div class="col-12 text-center">

        <div class="upload_file">
          <input class="file" type="file" id="file" name="file">Nhấn vào đây để tải file</input>
        </div>

      </div>
    </div>
    <div class="row mt-2 mb-5">
      <div class="col-12 text-center">
        <button type="button" class="btn btn-primary" onclick="upload()">Đọc ngay</button>
        <a style="display: none;" id="btn_download" class="btn btn-primary">Xuất file</a>
      </div>
    </div>
    <audio id="audio" style="display:none" controls>
      Your browser does not support the
      <code>audio</code> element.
    </audio>
  </div>

  <div class="row mt-2 mb-5">
    <div class="col-12 text-center mb-5 mt-2">
        <h2>GIỚI THIỆU API TTS</h2>
    </div>
    <div class="col-12 text-center">
      <div class="row m-2">
        <div class="col-4 text-center">
          <div class="row">
            <div class="col-12 text-center mb-2">
              <img class="center speaker" src="img/natural_voice.svg" alt="House"/>
            </div>
          </div>
          <i>Bằng cách sử dụng các công nghệ tiên tiến nhất của thế giới cho ngôn ngữ tự nhiên, xử lý giọng nói và học sâu, hệ thống tổng hợp giọng nói cực kỳ chính xác và tự nhiên</i>
        </div>
        <div class="col-4 text-center">
          <div class="row">
            <div class="col-12 text-center mb-2">
              <img class="center speaker" src="img/multi_voice.svg" alt="House"/>
            </div>
          </div>
          <i>Chúng tôi hiện đang hỗ trợ tiếng nói cho tin tức, câu chuyện từ các biến thể khác nhau bao gồm: giọng nói miền Bắc (2 nữ và 1 nam), giọng nói trung tâm (1 nữ), giọng nói miền Nam (1 nữ và 1 nam)</i>
        </div>
        <div class="col-4 text-center">
          <div class="row">
            <div class="col-12 text-center mb-2">
              <img class="center speaker" src="img/reply.svg" alt="House"/>
            </div>
          </div>
          <i>Có thể nhanh chóng đáp ứng mọi yêu cầu của khách hàng cùng một lúc</i>       </div>
        </div>
    </div>
  </div>

  <%- include('footer.ejs') %>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
  function logout() {
    $.post("/api/users/logout").done(() => {
      window.location.reload()
    });
  }

  function upload() {
    var file = $('#file').get(0).files[0];
    var text = $('#text').val();
    debugger

    if (file != null) {
      var object = new FormData();
      object.append('file', file);

      $.ajax({
        type: 'post',
        data: object,
        processData: false,
        contentType: false,
        url: '/api/tts/uploadFile',
        success: function (msg) {
          $('#audio').attr('src', msg.data.file.secure_url);
          document.getElementById('audio').play();
        }
      })
    }
    else {
      var object = {};
      object.content = $('#text').val();
      $.ajax({
        url: '/api/tts/uploadText',
        type: 'post',
        data: JSON.stringify(object),
        contentType: 'application/json',
        dataType: 'json',
        success: function (msg) {
          $('#btn_download').css({ 'display': 'inline-block' })
          var arr = msg.data.file.secure_url.split('/');
          var url;
          var index = msg.data.file.secure_url.indexOf(arr[arr.length - 1]);
          $('#btn_download').attr('href',msg.data.file.secure_url)
          $('#audio').attr('src', msg.data.file.secure_url);
          document.getElementById('audio').play();
        }
      })
    }
    $("#btn_download").bind("click", function (event) {
      event.preventDefault();
    });
    function download(url, filename) {
            fetch(url).then(function (t) {
              return t.blob().then((b) => {
                var a = document.createElement("a");
                a.href = URL.createObjectURL(b);
                a.setAttribute("download", filename);
                a.click();
              }
              );
            });
          }
    $("#btn_download").on('click',function(){
      var arr = $(this).attr('href').split('/');
      var name = arr[arr.length-1];
      download($(this).attr('href'),name);
    })

  }
</script>

</html>