<!DOCTYPE html>
<html>

<head>
    <title>Tutorial</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' , href='/lib/css/vex.css'>
    <link rel='stylesheet' , href='/lib/css/vex-theme-default.css'>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <header>
        <%- include('navbar') %>
    </header>

    <div class="container mt-4 mb-5 p-5">
        <h3 class="d-flex justify-content-center mb-5">HƯỚNG DẪN SỬ DỤNG</h3>
        <div class="p-2 m-4">
            It is a long established fact that a reader
            will be distracted by the readable content
            of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less
            normal distribution of letters, as opposed to using
            'Content here, content here', making it look like
            readable English. Many desktop publishing packages
            and web page editors now use Lorem Ipsum as their default
            model text, and a search for 'lorem ipsum' will uncover many
            web sites still in their infancy. Various versions have evolved over the years, sometimes by accident,
            sometimes on purpose (injected humour and the like).
            It is a long established fact that a reader
            will be distracted by the readable content
            of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less
            normal distribution of letters, as opposed to using
            'Content here, content here', making it look like
            readable English. Many desktop publishing packages
            and web page editors now use Lorem Ipsum as their default
            model text, and a search for 'lorem ipsum' will uncover many
            web sites still in their infancy. Various versions have evolved over the years, sometimes by accident,
            sometimes on purpose (injected humour and the like).
        </div>
    </div>


    <%- include('footer.ejs') %>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script src="/lib/js/vex.combined.min.js"></script>

</html>