@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #3399cc;
}

.logo {
    cursor: pointer;
    order: 3;
    margin-left: auto;
}

nav {
    order: 1;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 10px 10px 20px 10px;
}

.nav__links li:nth-child(1) {
    padding: 0 20px 0 0;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.cta {
    order: 2;
}
textarea
{
    border:1px solid #999999;
    width:98%;
    margin:5px 0;
    padding:1%;
}

.file{
    border: 1px dotted black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    height: 75px;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
   }