@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
    text-decoration: none;
 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #3399cc;
}

.logo {
    cursor: pointer;
    order: 3;
    margin-left: auto;
}

nav {
    order: 1;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 10px 10px 20px 10px;
}

.nav__links li:nth-child(1) {
    padding: 0 20px 0 0;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.cta {
    order: 2;
}

.login-form {
    width: 100%;
    padding: 10% 0 0;
    margin: auto;
}

.form {
    /* position: relative; */
    z-index: 1;
    max-width: 500px;
    margin: 0 auto 100px;
    padding: 50px;
    border: solid 1px;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 10px;
}

.form button {
    font-family: 'Roboto', sans-serif;
    outline: 0;
    background: #3399cc;
    width: 100%;
    padding: 10px;
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 14px;
    cursor: pointer;
}
