<footer id="sticky-footer" class="py-4 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <b>LIÊN HỆ</b>
                <br />
                kianto@gmail.com - Tel: 028 6288 4499
                <br />
                227 Đường Nguyễn Văn Cừ, Phường 4, Quận 5, Hồ Chí Minh
            </div>
            <div class="col-6">
                <b>VỀ CHÚNG TÔI</b>
                <br />
                <br />
                Sản phẩm được phát hành bởi nhóm 4 - môn Quản lý dự án phần mềm
            </div>
        </div>
        <small>Copyright &copy;</small>
    </div>
</footer>