<!DOCTYPE html>
<html>

<head>
    <title>Fogot Password</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel='stylesheet' , href='/lib/css/vex.css'>
    <link rel='stylesheet' , href='/lib/css/vex-theme-default.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <header>
        <%- include('navbar') %>
    </header>
    <div class="container login-form">
        <div class="form">
            <% if(!user){ %>
            <form class="login-form" id="forgotForm" method="POST" action="/api/users/forgotpassword">
                <img class="logo" src="img/login-logo.PNG" alt="logo" style="margin-top: -100px">
                <h3>Đặt lại mật khẩu</h3>

                <input type="email" name="email" required placeholder="Email tài khoản" />
                <div class="row">
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary">
                            Đặt lại mật khẩu </button>
                    </div>
                </div>
                Đã có thông tin đăng nhập và mật khẩu ? <a href="/login">Đăng nhập</a>
            </form>
            <% } %> <% if(user){ %>
                Bạn có muốn đăng xuất tài khoản hiện tại?
                <a href="#" onclick="logout();">Đăng xuất</a>
            <% } %>
        </div>
    </div>
    <%- include('footer.ejs') %>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script src="/lib/js/vex.combined.min.js"></script>
<script src="/js/forgotpassword.js"></script>

</html>