<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
        <header>
            <div class="container">
            <div class="row">
                <div class="col-6">
                    <img class="logo" src="img/login-logo.PNG" alt="logo">
                </div>
                <div class="col-6">
                        <nav>
                            <ul class="nav__links">
                                    <li><a href="/" style="color:white">Trang chủ</a></li>
                                    <li><a href="#" style="color:white">Giới thiệu</a></li>
                                    <li><a href="#" style="color:white">Bảng giá</a></li>
                                    <li><a href="/login" style="color:black; background-color: white">Đăng nhập</a></li>
                                    <li><a href="/register" style="color:white">Đăng ký</a></li>
                            </ul>
                    </nav>
                </div>
            </div>
            </div>
        </header>
        <div class="container login-form">
            <div class="form">
                <form class="login-form" method="POST" action="<%= authPath %>/users/login"  onsubmit="return Validate()">
                    <img class="logo" src="img/login-logo.PNG" alt="logo" style="margin-top: -100px">
                    <input type="email" name="email" required placeholder="Email hoặc số điện thoại"/>
                    <input type="password" name="password" id="pass1" placeholder ="Mật khẩu" required/>
                    <div class="row">
                        <div class="col-6">
                            <a href="#">Quên mật khẩu</a>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary"> Đăng nhập </button>
                        </div>
                    </div>
                    Bạn chưa có tài khoản? <a href="#">Đăng ký</a>
                </form>
            </div>
        </div>

        <footer id="sticky-footer" class="py-4 bg-primary text-white">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <b>LIÊN HỆ</b>
                        <br/>
                        kianto@gmail.com - Tel: 028 6288 4499
                        <br/>
                        227 Đường Nguyễn Văn Cừ, Phường 4, Quận 5, Hồ Chí Minh
                    </div>
                    <div class="col-6">
                        <b>VỀ CHÚNG TÔI</b>
                        <br/>
                        <br/>
                        Sản phẩm được phát hành bởi nhóm 4 - môn Quản lý dự án phần mềm
                    </div>
                </div>
              <small>Copyright &copy;</small>
            </div>
        </footer>
  </body>
  <script type="text/javascript">
    function Validate() {
      var pass1 = document.getElementById("pass1").value;
      var ok = true;
      if(pass1.length < 6) {
          alert("Mật khẩu phải lớn hơn 6 kí tự");
          return false;
      }
      return ok;
    }
    </script>
</html>
