<!DOCTYPE html>
<html>

<head>
  <title>Text to speech</title>
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<body>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <img class="logo" src="img/login-logo.PNG" alt="logo" />
        </div>
        <div class="col-6">
          <nav>
            <ul class="nav__links ml-1">
              <% if(!user){ %>
              <li><a href="/" style="color:white">Trang chủ</a></li>
              <li><a href="#" style="color:white">Giới thiệu</a></li>
              <li><a href="#" style="color:white">Bảng giá</a></li>
              <li><a href="/login" style="color:white">Đăng nhập</a></li>
              <li><a href="/register" style="color:white">Đăng ký</a></li>
              <% } %> <% if(user){ %>
              <li>
                <p style="color:white;">Xin chào <%=user.fullname%></p>
              </li>
              <li>
                <a href="#" onclick="logout();" style="color:white ">Đăng xuất</a>
              </li>
              <% } %>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col s10 text-center">
        <img class="center" src="img/logo.png" alt="House" style="height: 100%; width: 15%" />
      </div>
    </div>
    <div class="row ">
      <div class="col-12 text-center">
        <h3>Nhóm 4 - TEXT TO SPEECH</h3>
        <h7>Chuyển văn bản thành tiếng nói</h7>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12 text-center">
        <a>
          <img class="center speaker" src="img/speakre.png" alt="House"
            style="height: 100%; width: 5%; cursor: pointer;" />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-right">0/1000</div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <textarea id="text" placeholder="Nhập văn bản tại đây" style="height: 300px"></textarea>
      </div>
    </div>
    <div class="row mt-2 mb-5">
      <div class="col-12 text-center">
        Hoặc
      </div>
    </div>

    <div class="row mt-2 mb-5">
      <div class="col-12 text-center">

        <div class="upload_file">
          <input class="file" type="file" id="file" name="file">Nhấn vào đây để tải file</input>
        </div>

      </div>
    </div>
    <div class="row mt-2 mb-5">
      <div class="col-12 text-center">
        <button type="button" class="btn btn-primary" onclick="upload()">Đọc ngay</button>
        <a style="display: none;" id="btn_download" class="btn btn-primary">Xuất file</a>
      </div>
    </div>
    <audio id="audio" style="display:none" controls>
      Your browser does not support the
      <code>audio</code> element.
    </audio>
  </div>

  <footer id="sticky-footer" class="py-4 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <b>LIÊN HỆ</b>
          <br />
          kianto@gmail.com - Tel: 028 6288 4499
          <br />
          227 Đường Nguyễn Văn Cừ, Phường 4, Quận 5, Hồ Chí Minh
        </div>
        <div class="col-6">
          <b>VỀ CHÚNG TÔI</b>
          <br />
          <br />
          Sản phẩm được phát hành bởi nhóm 4 - môn Quản lý dự án phần mềm
        </div>
      </div>
      <small>Copyright &copy;</small>
    </div>
  </footer>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
  function logout() {
    $.post("/api/users/logout").done(() => {
      window.location.reload()
    });
  }

  function upload() {
    var file = $('#file').get(0).files[0];
    var text = $('#text').val();
    debugger

    if (file != null) {
      var object = new FormData();
      object.append('file', file);

      $.ajax({
        type: 'post',
        data: object,
        processData: false,
        contentType: false,
        url: '/api/tts/uploadFile',
        success: function (msg) {
          $('#audio').attr('src', msg.data.file.secure_url);
          document.getElementById('audio').play();
        }
      })
    }
    else {
      var object = {};
      object.content = $('#text').val();
      $.ajax({
        url: '/api/tts/uploadText',
        type: 'post',
        data: JSON.stringify(object),
        contentType: 'application/json',
        dataType: 'json',
        success: function (msg) {
          $('#btn_download').css({ 'display': 'inline-block' })
          var arr = msg.data.file.secure_url.split('/');
          var url;
          var index = msg.data.file.secure_url.indexOf(arr[arr.length - 1]);
          $('#btn_download').attr('href',msg.data.file.secure_url)
          $('#audio').attr('src', msg.data.file.secure_url);
          document.getElementById('audio').play();
        }
      })
    }
    $("#btn_download").bind("click", function (event) {
      event.preventDefault();
    });
    function download(url, filename) {
            fetch(url).then(function (t) {
              return t.blob().then((b) => {
                var a = document.createElement("a");
                a.href = URL.createObjectURL(b);
                a.setAttribute("download", filename);
                a.click();
              }
              );
            });
          }
    $("#btn_download").on('click',function(){
      var arr = $(this).attr('href').split('/');
      var name = arr[arr.length-1];
      download($(this).attr('href'),name);
    })

  }
</script>

</html>