<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img class="logo" src="/img/login-logo.PNG" alt="logo" />
        </div>
        <div class="col-8">
            <nav>
                <ul class="nav__links ml-1">
                    <li><a href="/" style="color:white">Trang chủ</a></li>
                    <li><a href="#" style="color:white">Hướng dẫn sử dụng</a></li>
                    <li><a href="/prices" style="color:white">Bảng giá</a></li>
                    <% if(!user){ %>
                    <li><a href="/login" style="color:white">Đăng nhập</a></li>
                    <li><a href="/register" style="color:white">Đăng ký</a></li>
                    <% } %> <% if(user){ %>
                    <li class="dropdown">
                        <a style="color:white;" class="dropdown-toggle">Xin chào <%=user.fullname%></a>
                        <div class="dropdown-content">
                            <a href="/profile" style="color:black;">Thông tin cá nhân</a>
                            <a href="#" onclick="logout();" style="color:black ">Đăng xuất</a>
                        </div>
                    </li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </div>
</div>
<script>
    function logout() {
        $.post("/api/users/logout").done(() => {
            window.location.reload()
        });
    }
</script>