<!DOCTYPE html>
<html>

<head>
    <title>Prices</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel='stylesheet' , href='/lib/css/vex.css'>
    <link rel='stylesheet' , href='/lib/css/vex-theme-default.css'>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <img class="logo" src="img/login-logo.PNG" alt="logo">
                </div>
                <div class="col-6">
                    <nav>
                        <ul class="nav__links">
                            <li><a href="/" style="color:white">Trang chủ</a></li>
                            <li><a href="#" style="color:white">Giới thiệu</a></li>
                            <li><a href="#" style="color:black ; background-color: white">Bảng giá</a></li>
                            <li><a href="/login" style="color:white">Đăng nhập</a></li>
                            <li><a href="/register" style="color:white">Đăng ký</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="container mt-4 mb-5 p-5">
        <div class="row">
            <div class="col">
                <div class="card border-dark" style="width: 20rem;">
                    <div class="card-header d-flex justify-content-center font-weight-bold ">
                        Gói Normal
                    </div>
                    <ul class="list-group list-group-flush p-3">
                        <li class="list-group-item ">
                            <div class="d-flex justify-content-center">500</div>
                            <div class="d-flex justify-content-center">VND</div>
                            <button type="button" class="btn btn-primary rounded-pill pl-5 pr-5 ml-5 mt-2 mb-2">Mua
                                ngay</button>
                            <div class="d-flex justify-content-center">được cấp 1 API</div>

                        </li>
                        <li class="list-group-item d-flex justify-content-center">Tối đa 500 lượt truy cập/ngày</li>
                        <li class="list-group-item d-flex justify-content-center">Hỗ trợ kỹ thuật cơ bản</li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card border-dark" style="width: 20rem;">
                    <div class="card-header d-flex justify-content-center font-weight-bold ">
                        Gói Super
                    </div>
                    <ul class="list-group list-group-flush p-3">
                        <li class="list-group-item ">
                            <div class="d-flex justify-content-center">1.000.000</div>
                            <div class="d-flex justify-content-center">VND</div>
                            <button type="button" class="btn btn-primary rounded-pill pl-5 pr-5 ml-5 mt-2 mb-2">Mua
                                ngay</button>
                            <div class="d-flex justify-content-center">được cấp 1 API</div>

                        </li>
                        <li class="list-group-item d-flex justify-content-center">Tối đa 1000 lượt truy cập/ngày</li>
                        <li class="list-group-item d-flex justify-content-center">Hỗ trợ kỹ thuật 24/7</li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card border-dark" style="width: 20rem;">
                    <div class="card-header d-flex justify-content-center font-weight-bold ">
                        Gói Ultra
                    </div>
                    <ul class="list-group list-group-flush p-3">
                        <li class="list-group-item ">
                            <div class="d-flex justify-content-center">2.000.000</div>
                            <div class="d-flex justify-content-center">VND</div>
                            <button type="button" class="btn btn-primary rounded-pill pl-5 pr-5 ml-5 mt-2 mb-2">Mua
                                ngay</button>
                            <div class="d-flex justify-content-center">được cấp 2 API</div>

                        </li>
                        <li class="list-group-item d-flex justify-content-center">Tối đa 2000 lượt truy cập/ngày</li>
                        <li class="list-group-item d-flex justify-content-center">Hỗ trợ kỹ thuật 24/7</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <footer id="sticky-footer" class="py-4 bg-primary text-white">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <b>LIÊN HỆ</b>
                    <br />
                    kianto@gmail.com - Tel: 028 6288 4499
                    <br />
                    227 Đường Nguyễn Văn Cừ, Phường 4, Quận 5, Hồ Chí Minh
                </div>
                <div class="col-6">
                    <b>VỀ CHÚNG TÔI</b>
                    <br />
                    <br />
                    Sản phẩm được phát hành bởi nhóm 4 - môn Quản lý dự án phần mềm
                </div>
            </div>
            <small>Copyright &copy;</small>
        </div>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script src="/lib/js/vex.combined.min.js"></script>
<!-- <script src="/js/login.js"></script> -->

</html>