<!DOCTYPE html>
<html>

<head>
    <title>Prices</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' , href='/lib/css/vex.css'>
    <link rel='stylesheet' , href='/lib/css/vex-theme-default.css'>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <header>
        <%- include('navbar') %>
    </header>

    <div class="container mt-4 mb-5 p-5">
        <div class="row">
            <div class="col">
                <div class="card border-dark" style="width: 20rem;">
                    <div class="card-header d-flex justify-content-center font-weight-bold ">
                        Gói Normal
                    </div>
                    <ul class="list-group list-group-flush p-3">
                        <li class="list-group-item ">
                            <div class="d-flex justify-content-center">500.000</div>
                            <div class="d-flex justify-content-center">VND</div>
                    
                                <div class ="text-center">
                                <% if(!user){ %>
                                    <a href="/login" class="btn btn-primary stretched-link pl-5 pr-5 mt-2 mb-2">
                                        Đăng nhập</a>
                                <% } %> <% if(user){ %>
                                    <a href="/step/information?pack=normal" class="btn btn-primary stretched-link pl-5 pr-5 mt-2 mb-2">
                                        Mua ngay</a>
                                <% } %>
                                </div>
                                
                            <div class="d-flex justify-content-center">500.000 ký tự</div>
                        </li>
                        <li class="list-group-item d-flex justify-content-center">Hỗ trợ 1 giọng nói</li>
                        <li class="list-group-item d-flex justify-content-center">Không hỗ trợ kỹ thuật</li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card border-dark" style="width: 20rem;">
                    <div class="card-header d-flex justify-content-center font-weight-bold ">
                        Gói Super
                    </div>
                    <ul class="list-group list-group-flush p-3">
                        <li class="list-group-item ">
                            <div class="d-flex justify-content-center">2.000.000</div>
                            <div class="d-flex justify-content-center">VND</div>
                            <div class ="text-center">
                                    <% if(!user){ %>
                                        <a href="/login" class="btn btn-primary stretched-link pl-5 pr-5 mt-2 mb-2">
                                            Đăng nhập</a>
                                    <% } %> <% if(user){ %>
                                        <a href="/step/information?pack=normal" class="btn btn-primary stretched-link pl-5 pr-5 mt-2 mb-2">
                                            Mua ngay</a>
                                    <% } %>
                                    </div>
                            <div class="d-flex justify-content-center">4.000.000 ký tự</div>
                        </li>
                        <li class="list-group-item d-flex justify-content-center">Hỗ trợ 2 giọng vùng miền</li>
                        <li class="list-group-item d-flex justify-content-center">Hỗ trợ kỹ thuật 24/7</li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card border-dark" style="width: 20rem;">
                    <div class="card-header d-flex justify-content-center font-weight-bold ">
                        Gói Ultra
                    </div>
                    <ul class="list-group list-group-flush p-3">
                        <li class="list-group-item ">
                            <div class="d-flex justify-content-center">4.000.000</div>
                            <div class="d-flex justify-content-center">VND</div>
                            <div class ="text-center">
                                    <% if(!user){ %>
                                        <a href="/login" class="btn btn-primary stretched-link pl-5 pr-5 mt-2 mb-2">
                                            Đăng nhập</a>
                                    <% } %> <% if(user){ %>
                                        <a href="/step/information?pack=normal" class="btn btn-primary stretched-link pl-5 pr-5 mt-2 mb-2">
                                            Mua ngay</a>
                                    <% } %>
                                    </div>
                            <div class="d-flex justify-content-center">10.000.000 ký tự</div>
                        </li>
                        <li class="list-group-item d-flex justify-content-center">Hỗ trợ 5 giọng vùng miền</li>
                        <li class="list-group-item d-flex justify-content-center">Hỗ trợ kỹ thuật 24/7</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <%- include('footer.ejs') %>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script src="/lib/js/vex.combined.min.js"></script>
</html>