<!DOCTYPE html>
<html>
  <head>
    <title>Text to speech</title>
    <link rel='stylesheet' href='/stylesheets/paid.css' />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
        <header>
            <div class="container">
            <div class="row">
                <div class="col-6">
                    <img class="logo" src="/img/login-logo.PNG" alt="logo">
                </div>
                <div class="col-6">
                        <nav>
                            <ul class="nav__links">
                                    <li><a href="/" style="color:white">Trang chủ</a></li>
                                    <li><a href="#" style="color:white">Giới thiệu</a></li>
                                    <li><a href="#" style="color:white">Bảng giá</a></li>
                                    <li><a href="/login" style="color:white">Đăng nhập</a></li>
                                    <li><a href="/register" style="color:white">Đăng ký</a></li>
                            </ul>
                    </nav>
                </div>
            </div>
            </div>
        </header>
        <div class="container">
            <div class="row mt-5">
                <h4 style="color: royalblue; margin-right: 10px">Bước 1: </h4>
                <h4>Xác nhận</h4>
            </div>
            <div class="row mt-3">
                <h3>1. Xác nhận thông tin</h3>
            </div>

            <div class="row mt-3">
                <form style="width: 50%">
                    <div class="form-group row">
                      <label for="staticEmail" class="col-sm-4 col-form-label">Email</label>
                      <div class="col-sm-8">
                        <input type="text" readonly class="form-control" id="staticEmail" value="email@example.com">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-4 col-form-label">Số điện thoại</label>
                      <div class="col-sm-8">
                        <input type="password" class="form-control" id="inputPassword" placeholder="0912545487">
                      </div>
                    </div>
                  </form>
            </div>
            <div class="row mt-3">
                <button class="btn btn-primary">Sửa</button>
            </div>
            <div class="row mt-3">
                <h5>Chọn 1 trong các loại dịch vụ sau</h5>
            </div>

            <div class="form-check mt-3">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                  Normal
                </label>
              </div>
              <div class="form-check mt-3">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  Super
                </label>
              </div>
              <div class="form-check disabled mt-3">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
                <label class="form-check-label" for="exampleRadios3">
                  Ultra
                </label>
              </div>
            <div class="row mt-3">
                <p> Để xem các loại dịch vụ, vui lòng bấm vào <a href="/price">Bảng giá</a></p>
            </div>
            <div class="row mt-1 mb-3">
                <div class="col-sm-8"></div>
                <div class="col-sm-4"><a href="/paid/choose-method" class="btn btn-primary pull-right">Tiếp tục</a></div>
            </div>
        </div>

        <footer id="sticky-footer" class="py-4 bg-primary text-white">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <b>LIÊN HỆ</b>
                        <br/>
                        kianto@gmail.com - Tel: 028 6288 4499
                        <br/>
                        227 Đường Nguyễn Văn Cừ, Phường 4, Quận 5, Hồ Chí Minh
                    </div>
                    <div class="col-6">
                        <b>VỀ CHÚNG TÔI</b>
                        <br/>
                        <br/>
                        Sản phẩm được phát hành bởi nhóm 4 - môn Quản lý dự án phần mềm
                    </div>
                </div>
              <small>Copyright &copy;</small>
            </div>
        </footer>
  </body>
</html>
