<!DOCTYPE html>
<html>

<head>
  <title>Text to speech</title>
  <link rel="stylesheet" href="/stylesheets/common.css" />
  <link rel='stylesheet' href='/stylesheets/paid-step-2.css' />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <header>
    <%- include('navbar') %>

  </header>
  <div class="container">
    <div class="row mt-5">
      <h4 style="color: royalblue; margin-right: 10px">Bước 2: </h4>
      <h4>Chọn hình thức thanh toán</h4>
    </div>
    <div class="row mt-3">
      <h3>2. Chọn một trong các hình thức thanh toán sau</h3>
    </div>


    <div class="row mt-3">
      <h5>Chọn 1 trong các loại dịch vụ sau</h5>
    </div>

    <div class="form-check mt-3">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
      <label class="form-check-label" for="exampleRadios1">
        Thanh toán bẳng thẻ quốc tế VISA, Master, JSB
      </label>
    </div>
    <div class="form-check mt-3">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
      <label class="form-check-label" for="exampleRadios2">
        Thẻ ATM nội địa/ Internet banking
      </label>
    </div>
    <div class="form-check disabled mt-3">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
      <label class="form-check-label" for="exampleRadios3">
        Thanh toán bằng ví MoMo
      </label>
    </div>

    <div class="row mt-1 mb-3">
      <div class="col-sm-8"></div>
      <div class="col-sm-4"><a href="/step/confirmation" class="btn btn-secondary pull-right">Tiếp tục</a></div>
    </div>
  </div>

  <%- include('footer.ejs') %>

</body>

</html>