<!DOCTYPE html>
<html>

<head>
    <title>Tutorial</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' , href='/lib/css/vex.css'>
    <link rel='stylesheet' , href='/lib/css/vex-theme-default.css'>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <header>
        <%- include('navbar') %>
    </header>

    <div class="container mt-4 mb-5 p-5">
        <h3 class="d-flex justify-content-center mb-5">HƯỚNG DẪN SỬ DỤNG</h3>
        <div class="p-2 m-4">
            <p>
                Phương thức upload văn bản chuyển thành âm thanh được xác thực qua phương thức HTTP trong khi gửi nội
                dung văn bản hoặc file văn bản lên.
            </p>
            <p>
                Khi upload bạn cần phải truyền <code>key</code> (key bạn mua để chuyển text thành speech) ở phần
                <code>headers</code> của request.
            </p>
            <p>
                API uploadText bạn cần truyền <code>Content-Type</code> là <code>application/json</code> ở phần
                <code>headers</code> và content (nội dung text bạn muốn chuyển thành speech) ở <code>body</code>.
            </p>
            <em><strong>HOST</strong>: <code>http://wordspeech.herokuapp.com/api/users/uploadText</code></em>
            <p>
                Ví dụ một request:
            </p>
            <script src="https://gist.github.com/nkhang/b7c5f76dea6a721441e52b88742ce6b3.js"></script>
            <p>
                API uploadFile bạn cần truyền 1 file (file chứa nội dung text bạn muốn chuyển thành âm thanh) ở body
                <code>http://wordspeech.herokuapp.com/api/users/uploadFile</code>
            </p>
            <script src="https://gist.github.com/nkhang/0fbd90dbcfd60c00140b888e0eefec45.js"></script>
            
        </div>
    </div>


    <%- include('footer.ejs') %>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script src="/lib/js/vex.combined.min.js"></script>

</html>